
<form action="/" method="post">
  <h3>Enter someone's flickr id</h3>
  <p> example: 25777376@N05  (use idgettr)</p>
  <input type="text" name="id">

  <h3>How many photos do you want from them?</h3>
  <p> </p>
  <input type="text" name="amount">

  <input type="submit">
</form>

<p>Created by <a href="http://twitter.com/snapesto">@snapesto</a></p>